@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

@font-face {
  font-family: "Helvetica";
  src:
    url("/fonts/Helvetica.ttf") format("opentype"),
    url("/fonts/helvetica-light-587ebe5a59211.ttf") format("opentype");
}

:root {
  --width-max: 1600px;

  --dot-line-vertical: repeating-linear-gradient(
    to bottom,
    gray 0%,
    gray 2px,
    transparent 2px,
    transparent 10px
  );
  --dot-line-horizontal: repeating-linear-gradient(
    to right,
    gray 0%,
    gray 2px,
    transparent 2px,
    transparent 10px
  );

  --progress-line-mask-horizontal: linear-gradient(
    to right,
    transparent 0%,
    black 10%,
    black 90%,
    transparent 100%
  );
}

@theme {
  --font-sans: "Dinamo Regular", "Helvetica", Arial, sans-serif;

  --color-my-primary: #007a73;
  --color-my-primary-hover: #065954;

  --color-my-secondary: #ffc942;
  --color-my-secondary-hover: #f6b615;

  --color-my-tertiary: #1379cc;
}
